<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css')}}">
</head>
<body>
   <main>
    <div class="container">
        <br>
        {% with menssagens = get_flashed_messages(with_categories=True) %}

        <!-- {% if menssagens %}
        {% for categoria,menssagem in menssagens %}
        <div class="alert alert-{{categoria}} alert-dismissible fade show" role="alert">
            {{ menssagem }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %} -->
        {% block conteudo %}
        {% endblock %}
</div>
</main>
<script src="{{ url_for('static',filename='bootstrap.js')}}"></script>
</body>


</html>