{% extends "templates.html" %}
{% block conteudo %}
<h1>Inserir Usuario</h1>
<!-- <form action="{{ url_for('usuarios_cadastro')}}" method="post">
    <input type="text" name="nome" placeholder="Nome"></input:>
    <input type="email" name="email" placeholder="Email">
    <button type="submit">Enviar</button>
</form> -->
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Cadastro</h4>
        </div>
        <div class="card-body">
            <form action="{{ url_for('usuarios_cadastro')}}" method="post">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="mb-3">
                    <label for="funcao" class="form-label">Função</label>
                    <select class="form-select" name="funcao" required>
                        <option value="">Selecione uma função</option>
                        <option value="dev">Desenvolvedor</option>
                        <option value="design">Designer</option>
                        <option value="gerente">Gerente</option>
                        <option value="cyber">Analista Cyber</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}